
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    /*border: crimson 1px solid;*/



}

.slider-text{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    font-size: 1.5rem;
}

.slider-goal-price{
    align-items: center;
}

#goals-header{
    width: 60%;
    /*border: crimson solid 1px;*/
    align-items: center;
    display: flex;
    flex-direction: column;

}

#goals-header p {
    font-size: 1rem;
}

#goals-header h1{
    font-size: 2.7rem;
}
#goals-container{
    width: 100%;
    border: yellow solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slides{

    display: grid;
    border: 0.2rem solid white;
    grid-row-gap: 0.5rem;
    border-radius: 15px;
    height: 93%;


}
#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goal-card-text{

}

#goals-svg{
    width: 3rem;
}
#check{
    background-image: url("../img/svg/add.svg");
    border: 1px red solid;
}
#wrapper input[type="checkbox"] {

    opacity: 0;
    height: 10rem;
    width: 10rem;

}



#wrapper input + label {
    display: inline-block;

    cursor: pointer;
    background-image: url("../img/svg/add.svg");
    padding: 0;
}

#wrapper input[type="checkbox"]:checked + label {
    background-image: url("../img/svg/remove.svg")
}

label{
    width: 60px;
    height: 3.5rem;
}


