#leaderboard__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

#leaderboard {
    height: 70vh;
    width: 78vw;
    color: white;
    overflow: hidden;
    font-size: 100px;
    background: black;


}

@media screen and (max-height: 800px) {
    #leaderboard{
    height: 70vh;
    width: 90vw;
    color: white;
    overflow: hidden;
    font-size: 100px;
    background: black;
}


}
.MuiDataGrid-columnHeaderTitle{
    color: white;
    text-align: center;
}
.MuiDataGrid-columnHeaderTitleContainer{
    justify-content: center;
    font-size: 2rem;
}

.MuiDataGrid-cell{
    color: white;
    font-size: 1rem;
}

