body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

#choice-page{
   width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /*border: 1px red solid;*/
}

#choice-container{


    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    height: fit-content;

    /*border: 1px blue solid;*/



}
#details-container{
    width:  60%;
    display: flex;
    flex-direction: column;
    /*border: 1px yellow solid;*/
}

#financial-container {
    width: 40%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /*border: 1px crimson solid;*/

}

#financial-top-container {
    background: #2D2D2D;
    border-radius: 10px;
    /*border: 1px magenta solid;*/
    height: 100%;
}

#account-container{
    width: 96%;
    border: 3px solid #464545;
    border-radius: 10px;
    margin-top: 20px;
}

#year-container {

    background-color: black;
    border-radius: 10px;
    margin: 10px;
}

#marketNews-list{
    list-style: none;
    font-size: 0.85rem;
}
#marketNews-list li{
    margin: 1rem;
    list-style-type: circle;

}



#investments-container{
    background-color: #0D0C0C;
    border-radius: 10px;
    padding: 10px 10px 10px 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 0.5fr;
    grid-row-gap: 1rem;
    max-height: 6rem;
}

#investment-graph{

}

#investment-graph p {
    font-size: 1.5rem;
}

#investment-details-top{
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    text-align: center;

}

#investment-details-bottom{
    display: flex;
    flex-direction: row;



}
#investment-details-bottom div{
    font-size: 0.8rem;
    width: fit-content;
    flex-grow: 1;
}

.investments-details-label{
    width: 8rem;
    border-radius: 4px;
    height: 2rem;

}

.investments-details-label span{
    display: inline-block;
    margin-top: 0.3rem;
}


#details-header-container{
    margin: 0;
    width: 70%;
    /*border: #ACFFBE 1px solid;*/


}
#choices-header {
    margin-bottom: 1rem;
    margin-top: 0;
    /*border: darkorange 1px solid;*/

}
#choices{
    display: flex;
    flex-direction: column;

    /*border: 1px darkred solid;*/

}
#firstChoice, #secondChoice{
    display: flex;
    border: #00FF38 1px solid;
    margin-right: 1rem;
    border-radius: 1rem;
    width: 35rem;
    height: fit-content;


}


#choice-text{

    width: 60%;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    /*border: 1px yellow solid;*/
}

#button-container{
    display: flex;
    justify-content: center;


}
#btn{
    margin: 5px;
}

#tabs-list{
    display: flex;
    flex-direction: row;
    /*margin: 10px 10px 10px 10px;*/
    list-style: none;
    padding-left: 0;
    border-radius: 10px;

    /*border: blue 1px solid;*/


}

.tabs{

    height: 60px;
    padding-top: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 25px;


}


.wrapper{
    background-color: #0D0C0C;
    border-radius: 10px;
    margin: 0.6rem;
    padding: 0 10px 10px 1rem;
    height: 93%;
    /*border: yellow 1px solid;*/
}

.toggledTab{
    background-color: #0D0C0C;
}
.closedTab{
    background-color: #2D2D2D;
}

.class1{
    pointer-events: none;
}

#account-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 2fr;
    margin: 4px;
    width: 100%;
}

#firstChoice {
    align-items: center;

}

.recharts-cartesian-axis-tick {
    fill: white;
    font-family: Roboto, sans-serif;
}








