body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

#choice-page{
   width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /*border: 1px red solid;*/
}

#choice-container{


    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    height: fit-content;
    /*border: 1px blue solid;*/



}
#details-container{
    width:  60%;
    display: flex;
    flex-direction: column;
    /*border: 1px yellow solid;*/
}

#financial-container {
    width: 40%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /*border: 1px crimson solid;*/

}

#financial-top-container {
    background: #2D2D2D;
    border-radius: 10px;
    /*border: 1px magenta solid;*/
}

#account-container{
    width: 96%;
    border: 3px solid #464545;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;

}

#year-container{

    background-color: black;
    border-radius: 10px;
    margin: 10px;

}

#year-container-header{
    /*padding-left: 1rem;*/


}
#year-container hr {
    margin: 10px
}



#investments-container{
    background-color: #0D0C0C;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px 10px 1rem;
}


#details-header-container{
    margin: 0;
    width: 70%;
    /*border: #ACFFBE 1px solid;*/


}
#choices-header {
    margin-bottom: 1rem;
    margin-top: 0;
    /*border: darkorange 1px solid;*/

}
#choices{
    display: flex;
    flex-direction: column;

    /*border: 1px darkred solid;*/

}
#firstChoice, #secondChoice{
    display: flex;
    border: #00FF38 1px solid;
    margin-right: 1rem;
    border-radius: 1rem;
    width: 35rem;
    height: fit-content;


}


#choice-text{

    width: 60%;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    /*border: 1px yellow solid;*/
}

#button-container{
    display: flex;
    justify-content: center;


}
#btn{
    margin: 5px;
}

#tabs-list{
    display: flex;
    flex-direction: row;
    /*margin: 10px 10px 10px 10px;*/
    list-style: none;
    padding-left: 0;
    border-radius: 10px;

    /*border: blue 1px solid;*/


}

.tabs{

    height: 60px;
    padding-top: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 25px;


}


.wrapper{
    background-color: #0D0C0C;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 0 10px 10px 1rem;
}

.toggledTab{
    background-color: #0D0C0C;
}
.closedTab{
    background-color: #2D2D2D;
}

.class1{
    pointer-events: none;
}

#account-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 2fr;
    margin: 4px;
    width: 100%;
}

#firstChoice {
    align-items: center;

}







