.tab-list {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 5px;
}

.tab {
  box-shadow: var(--bevel-default);
  background-color: var(--color-primary);
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  list-style-type: none;
}

.tab:active,
.tab-active {
  box-shadow: var(--bevel-active);
  background-color: var(--color-primary-light);
}
